* {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover, .btn-header:hover, .nav a.active {
    background-color: rgba(255, 255, 255, 0.3)
}

.main-header {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("images/Header Background.jpg");
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.main-header-container {
    min-height: 500px;
    display: grid;
}

.band-name {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}

.band-name-large {
    font-size: 80px;
    margin: auto;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-header {
    color: #333;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: lighter;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: 10px 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 15px;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    cursor: pointer;
}

.btn-header {
    color: white;
    margin: auto;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 25px;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
}

.btn-play {
    color: #2D9CDB;
    font-size: 70px;
    border-radius: 50%;
    width: 90px;
    padding: 10px;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: 0.5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
